rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /resources/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /images/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /profilePhotos/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
